// Variables
$sans-serifs: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Palettes
$neutralBlue1: #3E606F;
$neutralBlue2: #193441;
$neutralBlue3: #91AA9D;

// Glyphs
@font-face {
	font-family: 'fontello';
	src: url('../font/fontello.eot?65653335');
	src: url('../font/fontello.eot?65653335#iefix') format('embedded-opentype'),
		 url('../font/fontello.woff?65653335') format('woff'),
		 url('../font/fontello.ttf?65653335') format('truetype'),
		 url('../font/fontello.svg?65653335#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-male::before { content: '\e800'; } /* '' */
.icon-female::before { content: '\e801'; } /* '' */
.icon-ys::before { content: '\e802'; } /* '' */
.icon-cu::before { content: '\e802'; } /* '' */
.icon-na::before { content: '\e803'; } /* '' */
.icon-no:before { content: '\e804'; } /* '' */

// Root
* {
	box-sizing: border-box;
}
html {
	font-family: $sans-serifs;
	font-size: 20px;
}
body {
	color: #333;
	font-size: 1rem;
	line-height: 1.5em;
}

// Typography
h1, h2, h3, h4, h5, h6 {
	font-family: Lato, $sans-serifs;
	font-weight: 400;
	margin-bottom: .5rem;
}
h2 {
	font-size: 2rem;
	line-height: 1.25em;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
a {
	color: $neutralBlue1;
	&:hover {

	}
}
p {
	margin-bottom: 1.5rem;
}
img {
	display: block;
}
.align-left {
	float: left;
	margin: 0 1.5rem 1.5rem 0;
}
.align-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

// User messages
.user-message {
	background: rgb(102,102,102); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(102,102,102,1) 0%, rgba(85,85,85,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(102,102,102,1)), color-stop(100%,rgba(85,85,85,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(102,102,102,1) 0%,rgba(85,85,85,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(102,102,102,1) 0%,rgba(85,85,85,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(102,102,102,1) 0%,rgba(85,85,85,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(102,102,102,1) 0%,rgba(85,85,85,1) 100%); /* W3C */
	color: #eee;
	padding: .5rem 1rem;
}
	.warning {
		background: rgb(206,129,57); /* Old browsers */
		background: -moz-linear-gradient(-45deg,  rgba(206,129,57,1) 0%, rgba(177,49,49,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(206,129,57,1)), color-stop(100%,rgba(177,49,49,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(-45deg,  rgba(206,129,57,1) 0%,rgba(177,49,49,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(-45deg,  rgba(206,129,57,1) 0%,rgba(177,49,49,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(-45deg,  rgba(206,129,57,1) 0%,rgba(177,49,49,1) 100%); /* IE10+ */
		background: linear-gradient(135deg,  rgba(206,129,57,1) 0%,rgba(177,49,49,1) 100%); /* W3C */
		color: #eee;
	}
	.reminder {
		background: rgb(249,211,107); /* Old browsers */
		background: -moz-linear-gradient(-45deg,  rgba(249,211,107,1) 0%, rgba(234,167,72,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(249,211,107,1)), color-stop(100%,rgba(234,167,72,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(-45deg,  rgba(249,211,107,1) 0%,rgba(234,167,72,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(-45deg,  rgba(249,211,107,1) 0%,rgba(234,167,72,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(-45deg,  rgba(249,211,107,1) 0%,rgba(234,167,72,1) 100%); /* IE10+ */
		background: linear-gradient(135deg,  rgba(249,211,107,1) 0%,rgba(234,167,72,1) 100%); /* W3C */
		color: #7c541f;
	}
	.note {
		background: rgb(97,149,198); /* Old browsers */
		background: -moz-linear-gradient(-45deg,  rgba(97,149,198,1) 0%, rgba(74,114,152,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(97,149,198,1)), color-stop(100%,rgba(74,114,152,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(-45deg,  rgba(97,149,198,1) 0%,rgba(74,114,152,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(-45deg,  rgba(97,149,198,1) 0%,rgba(74,114,152,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(-45deg,  rgba(97,149,198,1) 0%,rgba(74,114,152,1) 100%); /* IE10+ */
		background: linear-gradient(135deg,  rgba(97,149,198,1) 0%,rgba(74,114,152,1) 100%); /* W3C */
		color: #eee;
	}
	.approved {
		background: rgb(103,168,42); /* Old browsers */
		background: -moz-linear-gradient(-45deg,  rgba(103,168,42,1) 0%, rgba(70,124,31,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(103,168,42,1)), color-stop(100%,rgba(70,124,31,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(-45deg,  rgba(103,168,42,1) 0%,rgba(70,124,31,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(-45deg,  rgba(103,168,42,1) 0%,rgba(70,124,31,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(-45deg,  rgba(103,168,42,1) 0%,rgba(70,124,31,1) 100%); /* IE10+ */
		background: linear-gradient(135deg,  rgba(103,168,42,1) 0%,rgba(70,124,31,1) 100%); /* W3C */
		color: #eee;
	}

// Main styles
header, section, footer {
	width: 100%;
	margin: 0;
	position: relative;
}

// Header
body > header {
	background-image: linear-gradient(90deg, rgba(#000,.125) 0%, rgba(#000,.125) 100%), url("../images/header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	color: #fff;
	margin-bottom: -12rem;
	padding: 6rem 10% 18rem;
	text-align: center;
	text-shadow: 2px 2px 0 rgba(#000,.25);
	h1 {
		font-size: 5rem;
		line-height: 1.25em;
		margin-bottom: 1rem;

		& + .byline {
			font-weight: bold;
		}
	}
}

// Section
body > section {
	background-color: #fff;
	margin: 0 auto 3rem;
	padding-bottom: 3rem;
	position: relative;
	width: 60%;
	&:first-of-type {
		padding: 3rem;
		width: calc(60% + 6rem);
		&::before {
			background-image: linear-gradient(90deg, rgba(77,20,140,1) 0%, rgba(77,20,140,1) 18%, rgba(27,119,205,1) 18%, rgba(27,119,205,1) 33%, rgba(54,160,48,1) 33%, rgba(54,160,48,1) 50%, rgba(255,210,0,1) 50%, rgba(255,210,0,1) 66%, rgba(255,160,0,1) 66%, rgba(255,160,0,1) 83%, rgba(207,15,15,1) 83%, rgba(207,15,15,1) 100%);
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 4px;
		}
	}
	&.wide {
		width: 80%;
	}
	&::after {
		border-top: 2px solid #ddd;
		content: '';
		display: block;
		margin: 0 auto;
		position: relative;
		bottom: calc(1px - 3rem);
		width: 50vw;
	}
	&:last-of-type {
		padding-bottom: 0;
		&::after {
			display: none;
		}
	}
	& > *:last-child {
		margin-bottom: 0;
	}
}

// Components
blockquote {
	font-family: Lato, $sans-serifs;
	font-size: 2rem;
	font-weight: 300;
	line-height: 1.25em;
	margin: 3rem auto;
	&:first-of-type {
		margin-top: 0;
	}
	hgroup  {
		margin-bottom: .5rem;
		& > * {
			font-family: $sans-serifs;
			font-size: .8rem;
			letter-spacing: 1px;
			margin: 0;
			line-height: 1.25em;
		}
	}
}
iframe {
	margin: 0 auto 1.5rem !important;
}
img {
	&[class*='profile-picture'] {
		border-radius: 50%;
	}
	&.profile-picture-small {
		width: 25%;
		min-width: 150px;
		max-width: 500px;
	}
	&.profile-picture-large {
		margin-top: .5rem;
		margin-bottom: .5rem;
		width: 300px;
	}
}

// Introduction
#introduction {
	p.align-center {
		display: flex;
		justify-content: space-around;
		img {
			margin: 0 .75rem;
		}
	}
}

// Outro
#outro {
	background-color: #eee;
	overflow: hidden;
	padding: 1.5rem 3rem;
}

// General svg styles
svg {
	display: block;
	path {
		stroke-linejoin: rond;
	}
	.axis {
		fill: none;
		stroke: #333;
		stroke-width: 1px;
		text {
			fill: #333;
			stroke: none;
		}
	}
}

// Map
#map {
	display: flex;
	flex-wrap: wrap;
	& > * {
		width: 100%;
	}
	h2				{ order: 1; }
	#map-wrapper	{ order: 2; }
	#map-controls	{ order: 3; }
	#map-dot		{ order: 4; }
	#map-pop		{ order: 5; }
	#map-legend		{ order: 6; }
	&::after		{ order: 10; }
}

// Map controls
#map-controls {
	margin-bottom: 1rem;
}
#marriage-toggle {
	label {
		cursor: pointer;
		font-size: .8rem;
		input {
			margin-right: .5rem;
		}
	}
}
#date-slider {
	display: flex;
	margin-bottom: .5rem;
	width: 100%;

	& > * {
		font-size: .8rem;
		text-align: center;
		width: 8rem;
		height: 1.5rem;
		transition: all .125s ease-in-out;
	}

	button {
		border: 1px solid rgba(0,0,0,.125);
		border-radius: 4px;
		background-color: $neutralBlue1;
		color: #eee;
		cursor: pointer;
		&:hover, &:active {
			background-color: $neutralBlue2;
		}
	}

	#date-slider-input {
		-webkit-appearance: none;
		width: 100%;
		height: 8px;
		border-radius: 4px;
		background-image: linear-gradient(90deg, rgba($neutralBlue2,.33) 50%, #eee 50%);
		background-size: 200% 100%;
		background-position: -100% 50%;
		margin: 0 1rem;
		outline: none;
		position: relative;
		top: calc(0.75rem - 4px);
		transition: none;

		// Slider Handle
		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: $neutralBlue1;
			cursor: pointer;
			-webkit-transition: background .15s ease-in-out;
			transition: background .15s ease-in-out;

			&:hover {
				background: $neutralBlue3;
			}
		}

		&:active::-webkit-slider-thumb {
			background: $neutralBlue1;
		}

		&::-moz-range-thumb {
			width:20px;
			height: 20px;
			border: 0;
			border-radius: 50%;
			background: #353535;
			cursor: pointer;
			-webkit-transition: background .15s ease-in-out;
			transition: background .15s ease-in-out;

			&:hover {
				background: #e06161;
			}
		}

		&:active::-moz-range-thumb {
			background: #e06161;
		}
	}
	#range-value {
		background-color: #555;
		border-radius: 4px;
		color: #eee;
		position: relative;
		&::before {
			border: 6px solid rgba(0,0,0,0);
			border-right: 8px solid #555;
			content: '';
			display: block;
			width: 0;
			height: 0;
			position: absolute;
			left: -14px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

// Map loader
#map-loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;

	svg {
		animation: loader-rotate 4s linear 0s infinite;
		display: block;
		margin: 0 auto;
		& > circle.path {
			animation: loader-dash 3s ease-in-out 0s infinite;   
		fill: none;
		stroke: #4a7298;
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
		stroke-linecap: round;
		stroke-width: 4px;
		}
	}
}
@keyframes loader-rotate {
	100% { transform: rotate(360deg); }
}
@keyframes loader-dash {
	50% {
		stroke-dasharray: 140, 200;
		stroke-dashoffset: -50;
	}
	100% {
		stroke-dasharray: 140, 200;
		stroke-dashoffset: -185;
	}
}

// Map
#map-wrapper {
	margin-bottom: .5rem;
	position: relative;
	width: 100%;
	min-height: 300px;
}
#map-usa {
	.land-fill {
		fill: none;
		stroke: #fff;
		stroke-width: 1px;
	}
	.state-boundary {
		fill: none;
		stroke: #fff;
		stroke-width: 1px;
	}
}

// Dot plot
#map-dot {
	margin-right: 1.5rem;
	width: calc(67% - 1.5rem);
	svg {
		height: 300px;
		max-height: 300px;
		circle.dots {
			opacity: 0.5;
			transition: opacity 250ms ease-in-out;
			&:hover {
				opacity: 1;
			}
		}
		g.tick line {
			stroke: #ddd;
		}
	}
}

// Pie chart population
#map-pop {
	width: 33%;
	svg {
		margin: 0 auto .25rem auto;
		width: 30vw;
		max-width: 300px;
		g.labels text.percent {
			font-weight: bold;
			pointer-events: none;
		}
	}
}

// Map legend
#map-legend {
	width: 100%;
}
.legend-title {
	display: block;
	font-weight: bold;
	font-size: .8rem;
	line-height: 1.25rem;
}
#map-legend-list {
	margin-top: .25rem;
	font-size: .8rem;
	line-height: 1rem;

	li {
		border-left: 2rem solid rgba(0,0,0,0);
		padding: .25rem 0 .25rem .5rem;
	}
}

// Map tooltip
div.tooltip {
	background-color: rgba(255,255,255,1);
	box-shadow: 0 0 2rem 0 rgba(0,0,0,.25);
	line-height: 1.25rem;
	font-size: .8rem;
	pointer-events: none;
	
	& > * {
		max-width: 25rem;
	}

	article.dots-axis-tooltip {
		h1 {
			font-size: 1.5rem;
			padding: 0 1rem;
		}
	}

	section {
		& > *:last-child {
			margin-bottom: 0;
		}
		padding: 1rem;
	}

	header {
		color: #eee;
		font-family: Lato, $sans-serifs;
		padding: 1rem;
		position: relative;
		text-align: center;
		h1 {
			font-size: 2rem;
			font-weight: 300;
			letter-spacing: 1px;
			line-height: 1.25em;
			margin: 0;
			padding: 0;
		}
		span {
			display: block;
			margin-top: .5rem;
			font-family: $sans-serifs;
			font-size: .8rem;
			font-weight: normal;
			line-height: 1.25em;
		}
	} 

	ul {
		list-style: none;
		margin: 0 0 .5rem 0;
		padding: 0;
		display: flex;
		li {
			float: left;
			font-size: 1rem;
			width: 100%;
			text-align: center;
			&.ys {
				transform: scale(1.5);
			}
			&.cu {
				transform: scale(1.25);
			}
			span {
				&.icon-male, &.icon-female {
					margin-left: -.25em;
					margin-right: -.25em;
				}
			}
		}
	}

	ol {
		margin-left: .4rem;
		position: relative;
		&::before {
			background-color: #ccc;
			content: '';
			position: absolute;
			width: 3px;
			top: 0;
			bottom: 0;
		}
		li {
			margin-bottom: .75rem;
			margin-left: 1.2rem;
			position: relative;
			span.timeline-dot {
				border-radius: 50%;
				border: 2px solid #fff;
				display: inline-block;
				width: .8rem;
				height: .8rem;
				position: absolute;
				top: 0.225rem;
				left: -1.5rem;
			}
			span.event-date {
				border-radius: 4px;
				display: inline-block;
				font-size: .75rem;
				line-height: 1.25rem;
				margin-right: .25em;
				padding: 0 .5em;
				&::before {

				}
			}
		}
	}
}
// Footer
footer {
	background-color: darken($neutralBlue2, .5);
	color: #eee;
	padding: 1.5rem;
	p {
		text-align: center;
		margin: 0;
		a {
			color: #fff;
		}
	}
}

// Responsive
@media (max-width: 799px) {
	body > header {
		padding-top: 3rem;
		padding-bottom: 3rem;
		margin-bottom: 0;
	}
	body > section {
		padding-left: 3rem;
		padding-right: 3rem;
		width: 100% !important;
	}
	// Map
	#map {
		#map-controls	{ order: 3; }
		#map-dot		{ order: 4; }
		#map-pop		{ order: 5; }
		#map-legend		{ order: 6; }
	}
	#map-wrapper {
		min-height: 200px;
		margin-bottom: 1rem;
	}
	#map-usa {
		text.state-name {
			opacity: 0 !important;
		}
	}
	#map-dot {
		margin: 0;
		margin-bottom: 1rem;
		width: 100%;
		svg {
			height: 300px;
		}
	}
	#map-pop {
		margin-bottom: 1rem;
		width: 100%;
		svg {
			width: 75%;
			max-width: 250px;
		}
	}
	#map-legend {
		margin: 0;
		width: 100%;
	}
	div.tooltip {
		max-width: 15rem;
		article.pie-tooltip {
			h1 {
				font-size: 2rem;
				padding: 0;
			}
		}
	}
	#outro {
		margin-bottom: 0;
		img {
			display: block;
			float: none;
			margin: 0 auto 1rem;
		}
	}
}
@media (max-width: 499px) {
	html {
		font-size: 16px;
	}
	body > header {
		h1 {
			font-size: 4rem;
			line-height: 1.25em;
		}
	}

	#map {
		#map-controls	{ order: 5; }
		#map-dot		{ order: 3; }
		#map-pop		{ order: 4; }
		#map-legend		{ order: 6; }
	}
	#date-slider {
		flex-wrap: wrap;
		width: 100%;

		& > * {
			width: 100%;
		}

		button {
			order: 3;
		}
		#date-slider-input {
			margin: .5rem 0 1.5rem;
			order: 2;
		}
		#range-value {
			background-color: transparent;
			color: #333;
			font-size: 1.5rem;
			order: 1;
			top: 0;
			&::before {
				display: none;
			}
		}
	}
	#map-dot {
		svg {
			width: 100%;
			height: auto;
			max-height: none;
		}
	}
	#map-pop {
		svg {
			height: 75vw;
			max-height: 200px;
		}
	}
}